html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14;
  letter-spacing: 0.03em;
  color: #757575;
}

h2,
h3,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
  display: block;
  color: inherit;
}

.list {
  list-style: none;
}

.img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.model-btn {
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196f3;
  cursor: pointer;
  outline: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-form {
  width: calc(100% - 30px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .model-form {
    top: 55%;
  }
}

@media screen and (min-width: 768px) {
  .model-form {
    width: 450px;
    top: 55%;
  }
}

@media screen and (min-width: 1200px) {
  .model-form {
    width: 528px;
    top: 55%;
  }
}

.model-form-titel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.model-form-input {
  display: block;
  width: 100%;
  height: 40px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.model-form-input:focus + .model-form-label,
.model-form-input:not(:placeholder-shown) + .model-form-label {
  transform: translateY(-39px);
  left: 19px;
  color: #2196f3;
  font-size: 12px;
  line-height: 1.16;
}

.model-form-input:focus ~ .model-form-img,
.model-form-input:not(:placeholder-shown) ~ .model-form-img {
  fill: #2196f3;
}

.model-form-input-wrapper {
  position: relative;
  margin-bottom: 28px;
}

.model-form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-form-message {
  position: relative;
  width: 100%;
  height: 120px;
  resize: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.model-form-message:focus + .model-form-message-comment,
.model-form-message:not(:placeholder-shown) + .model-form-message-comment {
  transform: translateY(-30px);
  color: #2196f3;
  font-size: 12px;
  line-height: 1.16;
}

.model-form-message:focus::placeholder {
  color: #2196f3;
}

.model-form-input-message {
  position: relative;
  margin-bottom: 20px;
}

.model-form-message-comment {
  position: absolute;
  top: 12px;
  left: 16px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.model-form-option-label {
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.model-form .model-btn {
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}

.model-form-option-label {
  display: flex;
  height: 24px;
  align-items: center;
  padding-left: 12px;
}

.model-form-option-span a {
  color: #2196f3;
}

.model-form-option-span {
  text-align: center;
}

.model-form-input:focus,
.model-form-message:focus,
.model-form-input:not(:placeholder-shown),
.model-form-message:not(:placeholder-shown) {
  outline: none;
  border-color: #2196f3;
}

.model-form-img {
  display: block;
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-form-chek {
  display: block;
  width: 16px;
  height: 15px;
  fill: #fff;
  border: 2px solid #000;
  border-radius: 2px;
  margin-right: 8.38px;
}

.model-form-checkbox:checked + .model-form-chek {
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  outline: none;
}

.modal-btn:hover .model-form-img-close,
.modal-btn:focus .model-form-img-close {
  fill: #2196f3;
}

.model-form-img-close {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  color: #000000;
}

.logo-tittel {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (max-width: 1199px) {
  .logo {
    margin-right: 81px;
  }
  .footer .logo {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 85px;
  }
}

.menu-btn {
  color: #fff;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  padding: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.menu-btn.is-open .menu-icon {
  display: none;
}

.menu-btn.is-open .menu-close {
  display: block;
}

.menu-btn:hover .menu-icon {
  fill: #2196f3;
}

.menu-btn:hover .menu-close {
  fill: #2196f3;
}

.menu-close {
  display: none;
  width: 18.67px;
  height: 18.67px;
}

.header-menu-svg {
  display: inline-flex;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 767px) {
  .menu-wrapper {
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 453px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu-wrapper.is-open {
    display: flex;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .navigation-list {
    display: flex;
    padding-left: 0px;
  }
  .menu-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .header-adress {
    display: flex;
  }
  .header-link {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: flex-start;
  }
}

.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover, .header-link:focus {
  color: #2196f3;
}

.header-link:hover svg {
  fill: #2196f3;
}

.header-link {
  color: #757575;
}

.header-link:not(:last-child) {
  margin-bottom: 16px;
}

.hero {
  max-width: 1600px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: radial-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-width: 1200px) {
  .hero {
    background-image: radial-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header@2x.jpg);
  }
}

@media screen and (max-width: 1199px) {
  .hero {
    background-image: radial-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header768.jpg);
  }
}

@media screen and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (max-width: 1199px) and (min-resolution: 192dpi), screen and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: radial-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header768@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: radial-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header480.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: radial-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header480@2x.jpg);
  }
}

.hero-titel {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero-titel {
    font-size: 44px;
    line-height: 1.36;
  }
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.header-menu {
  display: none;
}

@media screen and (min-width: 481px) {
  .header-menu {
    display: flex;
  }
}

.navigation {
  display: flex;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .navigation-list-item {
    position: relative;
  }
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .navigation-list-item:last-child {
    margin-bottom: 60px;
  }
  .navigation-list-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list-link:hover, .navigation-list-link:focus {
    color: #2196f3;
  }
  .active::after {
    content: '';
    display: block;
    position: absolute;
    transform: translateY(8px);
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    margin: auto;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .active::after {
    content: '';
    display: block;
    transform: translateY(29px);
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    margin: auto;
    color: #2196f3;
  }
  .navigation-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-img {
  width: 16px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-img:hover {
  fill: #2196f3;
}

.description .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.description-titel-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.description-list {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .description-list {
    width: 450px;
  }
  .description-list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .description-list {
    width: calc(100% / 2 - 30px);
    letter-spacing: normal;
  }
  .description-list:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .description-list:not(:nth-child(n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .description-list {
    width: calc(100% / 4 - 30px);
    margin-bottom: 0px;
  }
  .description-list:not(:last-child) {
    margin-right: 30px;
  }
  .description .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.description-list-icon {
  display: block;
  width: 70px;
  height: 70px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.description-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
}

.description-titel-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 0px;
  color: #757575;
}

.description-img {
  display: block;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work .container {
  padding-bottom: 94px;
}

.work-list {
  position: relative;
}

.work-list:not(:last-child) {
  margin-right: 30px;
}

.work-titel-list {
  display: flex;
}

.work-titel {
  flex-grow: 1;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.work-titel-item {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.comand {
  background-color: #f5f4fa;
}

.comand .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.comand .comand-titel-list {
  display: flex;
  flex-wrap: wrap;
}

.comand-titel-item {
  width: 450px;
  padding-bottom: 24px;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .comand-titel-item {
    width: 450px;
  }
  .comand-titel-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .comand-titel-item {
    width: calc(100% / 2 - 30px);
  }
  .comand-titel-item:not(:nth-child(n + 3)) {
    margin-bottom: 30px;
  }
  .comand-titel-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .comand-titel-item {
    width: calc((100% - 90px) / 4);
  }
  .comand-titel-item:not(:last-child) {
    margin-right: 30px;
  }
  .comand .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .comand .comand-titel-list {
    display: flex;
    justify-content: space-between;
  }
}

.comand-titel {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

.comand-img {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.comand-titel-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.comand-titel-name-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.comand-link {
  display: flex;
  justify-content: space-between;
  max-width: 206px;
  margin-right: auto;
  margin-left: auto;
}

.comand-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comand-link-list:hover, .comand-link-list:focus {
  background-color: #2196f3;
}

.comand-link-list:hover .comand-link-img {
  fill: #fff;
}

.comand-link-img {
  fill: #757575;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comand-link {
  display: flex;
}

.comand-link-list-item:not(:last-child) {
  margin-right: 10px;
}

.client .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.client .client-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.client-item-link {
  width: calc(100% / 2 - 30px);
}

@media screen and (max-width: 767px) {
  .client-item-link {
    width: calc(100% / 2 - 30px);
  }
  .client-item-link:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .client-item-link:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .client-item-link {
    width: calc(100% / 3 - 60px);
  }
  .client-item-link:not(:nth-child(n + 3)) {
    margin-bottom: 30px;
  }
  .client-item-link:not(:nth-child(3n + 3)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client-item-link {
    width: calc((100% - 150px) / 6);
  }
  .client-item-link:not(:last-child) {
    margin-right: 30px;
  }
}

.client-item-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border: 2px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item-link-list:hover .client-link-img {
  fill: #2196f3;
}

.client-item-link-list:hover {
  border: 1px solid #2196f3;
}

@media screen and (max-width: 480px) {
  .client-item-link {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .client-item-link:nth-child(2n) {
    margin-right: 0px;
  }
  .client-item-link:nth-child(n + 5) {
    margin-bottom: 0px;
  }
}

.client-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

.client-link-img {
  width: 50px;
  height: 50px;
  display: flex;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link-img:hover, .client-link-img:focus {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
}

.footer-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-wraper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer-list {
    text-align: left;
  }
  .footer-social-link {
    margin-right: 94px;
  }
  .footer-item {
    text-align: left;
  }
  .footer-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  .footer-btn .model-form-input-wrapper {
    width: 570px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-form-input {
    margin-bottom: 0px;
    margin-right: 12px;
  }
  .footer-adress-link {
    margin-right: 69px;
  }
}

.footer-socia-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .footer-list {
    margin-bottom: 60px;
    text-align: center;
  }
  .footer-social-link {
    margin-bottom: 60px;
  }
  .footer-item {
    text-align: center;
  }
  .footer-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  .footer-btn .model-form-input-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-form-input {
    margin-bottom: 20px;
  }
}

.footer-adress {
  font-style: normal;
  margin-bottom: 9px;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer-link-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-item {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-b .footer-social-list {
  display: flex;
  margin-right: 94px;
}

.footer-social-list-link:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link .comand-link {
  padding-left: 0px;
  margin-bottom: 20px;
}

.footer-label-link:hover,
.footer-label-link:focus {
  color: #2196f3;
}

.footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: #fff;
  position: relative;
  transform: translateX(10px);
}

.footer-btn-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 9px 28px 8px 29px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: #2196f3;
  border-radius: 4px;
}

.footer-form {
  display: flex;
}

.footer-form-input {
  width: 100%;
  height: 50px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background-color: #2f303a;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: #fff;
}

/* .footer-form-input:focus + .footer-label,
.footer-form-input:not(:placeholder-shown) + .footer-label {
  transform: translateY(-39px);
  color: $backgraoud-color; */
/* Portfolio.html */
.jobs.container {
  padding-top: 93px;
  padding-bottom: 94px;
}

.main-jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .main-jobs-item {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .main-jobs-item:nth-child(3n) {
    margin-right: 0px;
  }
  .main-jobs-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-jobs-item {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .main-jobs-item:nth-child(2n) {
    margin-right: 0px;
  }
  .main-jobs-item:last-child {
    margin-bottom: 0px;
  }
  .main-jobs {
    justify-content: center;
  }
  .main-jobs:last-child {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .main-jobs-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .main-jobs-item:nth-child(3n) {
    margin-right: 0px;
  }
  .main-jobs-item:nth-child(n + 7) {
    margin-bottom: 0px;
  }
}

.main-jobs-item-link {
  display: block;
}

.main-jobs-item-link-img {
  display: block;
  width: 100%;
  height: auto;
}

.main-item {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .main-item {
    justify-content: center;
  }
  .main-item-list {
    margin-bottom: 0px;
  }
}

.main-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: #f5f4fa;
  color: #212121;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-style: none;
  background: #f5f4fa;
  border-color: #f5f4fa;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover, .main-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  border-color: #2196f3;
}

.main-item-list {
  width: calc(100% / 3- 16px);
}

.main-item-list:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .main-item-list {
    margin-bottom: 8px;
  }
  .main-item-list:not(:nth-child(2n + 3)) {
    margin-right: 8px;
  }
  .main-item-list:not(:nth-child(n + 4)) {
    margin-bottom: 15px;
  }
}

.main-jobs-item {
  border: 1px solid #eeeeee;
}

.main-jobs-item:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.main-jobs-item:hover .jobs-titel-text {
  transform: translateY(0);
}

.main-jobs-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.jobs-titel {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
  margin-bottom: 4px;
}

.jobs-titel-item {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  padding-left: 24px;
}

.jobs-titel-text {
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(100%);
  top: 0px;
  left: 0px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */