.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-form {
  width: calc(100% - 30px);
  // width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .model-form {
    top: 55%;
  }
}

@media screen and (min-width: 768px) {
  .model-form {
    width: 450px;
    top: 55%;
  }
}

@media screen and (min-width: 1200px) {
  .model-form {
    width: 528px;
    top: 55%;
  }
}

.model-form-titel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.model-form-input {
  display: block;
  width: 100%;
  height: 40px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus + .model-form-label,
  &:not(:placeholder-shown) + .model-form-label {
    transform: translateY(-39px);
    left: 19px;
    color: $accent-color;
    font-size: 12px;
    line-height: 1.16;
  }

  &:focus ~ .model-form-img,
  &:not(:placeholder-shown) ~ .model-form-img {
    fill: $accent-color;
  }
}

.model-form-input-wrapper {
  position: relative;
  margin-bottom: 28px;
}

.model-form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-form-message {
  position: relative;
  width: 100%;
  height: 120px;
  resize: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus + .model-form-message-comment,
  &:not(:placeholder-shown) + .model-form-message-comment {
    transform: translateY(-30px);
    color: $accent-color;
    font-size: 12px;
    line-height: 1.16;
  }
  &:focus::placeholder {
    color: $accent-color;
  }
}

.model-form-input-message {
  position: relative;
  margin-bottom: 20px;
}

.model-form-message-comment {
  position: absolute;
  top: 12px;
  left: 16px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}
.model-form-option-label {
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.model-form .model-btn {
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}

.model-form-option-label {
  display: flex;
  height: 24px;
  align-items: center;
  padding-left: 12px;
}

.model-form-option-span a {
  color: #2196f3;
}

.model-form-option-span {
  text-align: center;
}

.model-form-input:focus,
.model-form-message:focus,
.model-form-input:not(:placeholder-shown),
.model-form-message:not(:placeholder-shown) {
  outline: none;
  border-color: $accent-color;
}

.model-form-img {
  display: block;
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-form-chek {
  display: block;
  width: 16px;
  height: 15px;
  fill: #fff;
  border: 2px solid #000;
  border-radius: 2px;
  margin-right: 8.38px;
}
.model-form-checkbox:checked + .model-form-chek {
  background-color: $accent-color;
  border-color: $accent-color;
}

.modal-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  outline: none;

  &:hover .model-form-img-close,
  &:focus .model-form-img-close {
    fill: $accent-color;
  }
}
.model-form-img-close {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
