$main-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;
$accent-color: #2196f3;
$logo-color: #000000;
$titel-light-color: #212121;
$titel-dark-color: #757575;
$backgraoud-color: #ffffff;
$backgraoud-color-secondary: #f5f4fa;
$backgraoud-color-footer: #2f303a;
