.client .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client .client-item {
  display: flex;
}

/* .client-item-link {
  margin-right: ;
} */

.client-item-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 2px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .client-link-img {
  fill: $accent-color;
}

  &:hover {
  border: 1px solid $accent-color;
}


}
.client-item-link:not(:last-child) {
  margin-right: 30px;
}





.client-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $titel-light-color;
  margin-bottom: 50px;
}



.client-link-img {
  width: 50px;
  height: 50px;
  display: flex;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
  fill: $accent-color;
}
}
