.description .container {
  padding-top: 60px;
  padding-bottom: 60px;

  // padding-top: 94px;
  // padding-bottom: 94px;
}
.description-titel-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.description-list {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: green;
}
@media screen and (max-width: 767px) {
  .description-list {
    width: 450px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
    // background-color: red;
  }
}

@media screen and (min-width: 768px) {
  .description-list {
    width: calc(100% / 2 - 30px);
    letter-spacing: normal;

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }
}
// &:not(:last-child) {
//   margin-right: 30px;
// }
@media screen and (max-width: 1199px) {
  .description-list:not(:nth-child(n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .description-list {
    width: calc(100% / 4 - 30px);
    margin-bottom: 0px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .description .container {
    padding-top: 94px;
    padding-bottom: 94px;

    // padding-top: 94px;
    // padding-bottom: 94px;
  }
}

.description-list-icon {
  display: block;
  width: 70px;
  height: 70px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.description-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
  color: $titel-light-color;
}
.description-titel-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 0px;
  color: $titel-dark-color;
}

.description-img {
  display: block;
  width: 100%;
  height: 120px;
  // width: 270px;
  // height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 0px;
  margin-bottom: 30px;
  // margin-bottom: 55px;
}
