.logo {
  font-family: $secondary-font;
  font-style: normal;
  color: $logo-color;
}
.logo-tittel {
  color: $accent-color;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (max-width: 1199px) {
  .logo {
    margin-right: 81px;
  }

  .footer .logo {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 85px;
  }
}
