.header-menu {
  display: none;
}
@media screen and (min-width: 481px) {
  .header-menu {
    display: flex;
  }
}

.navigation {
  display: flex;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .navigation-list-item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &:last-child {
      margin-bottom: 60px;
    }
  }

  .navigation-list-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $titel-dark-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .active::after {
    content: '';
    display: block;
    position: absolute;
    transform: translateY(8px);

    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    margin: auto;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .active::after {
    content: '';
    display: block;
    // position: absolute;
    transform: translateY(29px);
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    margin: auto;
    color: #2196f3;
  }
  .navigation-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .navigation-list-item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.nav-img {
  width: 16px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $accent-color;
  }
}
