/* Portfolio.html */

.jobs.container {
  padding-top: 93px;
  padding-bottom: 94px;
}

.main-jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .main-jobs-item {
    width: 100%;
    // margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0px;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
}

@media screen and(min-width: 768px) and (max-width: 1199px) {
  .main-jobs-item {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0px;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }
  .main-jobs {
    justify-content: center;

    &:last-child {
      justify-content: flex-start;
    }
  }
}

@media screen and (min-width: 1200px) {
  .main-jobs-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0px;
    }

    &:nth-child(n + 7) {
      margin-bottom: 0px;
    }
  }
  // .main-jobs {
  //   justify-content: center;

  //   &:last-child {
  //     justify-content: flex-start;
  //   }
}

.main-jobs-item-link {
  display: block;
}

.main-jobs-item-link-img {
  display: block;
  width: 100%;
  height: auto;
}
.main-item {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .main-item {
    justify-content: center;
  }
  .main-item-list {
    margin-bottom: 0px;
  }
}

.main-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: $backgraoud-color-secondary;
  color: $titel-light-color;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-style: none;

  background: #f5f4fa;
  border-color: #f5f4fa;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $backgraoud-color;
    border-color: $accent-color;
  }
}
.main-item-list {
  width: calc(100% / 3- 16px);
}
.main-item-list:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .main-item-list {
    margin-bottom: 8px;
  }

  .main-item-list:not(:nth-child(2n + 3)) {
    margin-right: 8px;
  }

  .main-item-list:not(:nth-child(n + 4)) {
    margin-bottom: 15px;
  }
}
.main-jobs-item {
  border: 1px solid #eeeeee;

  &:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
  &:hover .jobs-titel-text {
    transform: translateY(0);
  }
}

.main-jobs-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.jobs-titel {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $titel-light-color;
  padding-left: 24px;
  margin-bottom: 4px;
}

.jobs-titel-item {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: $titel-dark-color;
  padding-left: 24px;
}
.jobs-titel-text {
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: $backgraoud-color;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(100%);
  top: 0px;
  left: 0px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
// .main-item {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   margin-bottom: 50px;
// }
