@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work .container {
  padding-bottom: 94px;
}

.work-list {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.work-titel-list {
  display: flex;
}
.work-titel {
  flex-grow: 1;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $titel-light-color;
  margin-bottom: 50px;
}

.work-titel-item {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: $backgraoud-color;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}
